<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div layout:fragment="content">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">List of Tickets</h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a th:href="@{/index}">Home</a></li>
                    <li><i class="fa fa-bars"></i><a th:href="@{/helpdesk}">Helpdesk Home</a></li>
                    <li class="text-gray-800"><i class="fa fa-square-o"></i>Tickets List</li>
                </ol>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <a th:href="@{/helpdesk/ticketAdd}"  class="btn btn-primary">
                            New Department
                        </a> 
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table  table-advance table-hover" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th><i class="icon_calendar"></i> Id</th>
                                        <th><i class="icon_calendar"></i>Description</th>
                                        <th><i class="icon_calendar"></i> Raised By </th>
                                        <th><i class="icon_calendar"></i> Ticket Status </th>
                                        <th><i class="icon_calendar"></i> Ticket Date </th>
                                        <th><i class="icon_cogs"></i> Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="ticket:${tickets}">
                                        <td th:text="${ticket.id}">Id</td>
                                        <td th:text="${ticket.description}">Description</td>
                                        <td th:text="${ticket.employee.firstname}">Raised By</td>
                                        <td th:text="${ticket.ticketstatusid}">Ticket Status Id</td>
                                        <td th:text="${ticket.ticketDate}">Ticket Date</td>
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-primary" th:href="@{'/helpdesk/ticketDetails/'+${ticket.id}}"><i class="icon_document_alt"></i></a>
                                                <a class="btn btn-success" th:href="@{'/helpdesk/ticketEdit/'+${ticket.id}}"><i class="icon_pencil-edit"></i></a>
                                                <a class="btn btn-danger" onclick="return confirm('Are you sure you want to delete?')" th:href="@{'/helpdesk/tickets/delete/'+${ticket.id}}"><i class="icon_close_alt2"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
    </div>
</div>
</body>
</html>