<!DOCTYPE html>
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div layout:fragment="content">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">List of Transactions</h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a th:href="@{/index}">Home</a></li>
                    <li><i class="fa fa-bars"></i><a th:href="@{/accounts}">Accounts Home</a></li>
                    <li class="text-gray-800"><i class="fa fa-square-o"></i>Transactions List</li>
                </ol>
                <!-- DataTables Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <a th:href="@{/accounts/transactionAdd}"  class="btn btn-primary">
                            New Transaction
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-advance table-hover" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th><i class="icon_calendar"></i> Id</th>
                                        <th><i class="icon_calendar"></i> Description</th>
                                        <th><i class="icon_calendar"></i> Transaction Date</th>
<!--                                        <th><i class="icon_calendar"></i> Transaction Type</th>-->
<!--                                        <th><i class="icon_calendar"></i> Status </th>-->
<!--                                        <th><i class="icon_calendar"></i> Accountant </th>-->
                                        <th><i class="icon_calendar"></i> Remarks</th>
                                        <th><i class="icon_cogs"></i> Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="transaction:${transactions}">
                                        <td th:text="${transaction.id}">Id</td>
                                        <td th:text="${transaction.description}">Description</td>
                                        <td th:text="${transaction.transactionDate}">Transaction Date</td>
<!--                                        <td th:text="${transactionType.description}">Transaction Type</td>-->
<!--                                        <td th:text="${transactionStatus.details}">Transaction Status</td>-->
<!--                                        <td th:text="${employee.firstname}">Accountant</td>-->
                                        <td th:text="${transaction.remarks}">Remarks</td>
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-primary" th:href="@{'/accounts/transactionDetails/'+${transaction.id}}"><i class="icon_document_alt"></i></a>
                                                <a class="btn btn-success" th:href="@{'/accounts/transactionEdit/'+${transaction.id}}"><i class="icon_pencil-edit"></i></a>
                                                <a class="btn btn-danger" onclick="return confirm('Are you sure you want to delete?')" th:href="@{'/accounts/transactions/delete/'+${transaction.id}}"><i class="icon_close_alt2"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
    </div>
</div>
</body>
</html>