<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div layout:fragment="content">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">New Transaction Form</h1>
                    <ol class="breadcrumb " >
                        <li><i class="fa fa-home"></i><a href="/index">Home</a></li>
                        <li><i class="fa fa-bars"></i><a href="/accounts">Accounts Home</a></li>
                        <li class="text-gray-800"></i><a href="/accounts/transactions">Transactions List</a></li>
                        <li class="text-gray-800"><i class="fa fa-square-o"></i>Add New Transaction</li>
                    </ol>
                    <div class="card shadow mb-4 justify-content-center" >
                        <div class="card-body">
                            <form th:action="@{/accounts/transactions/save}" method="post">
                                <div class="panel-body">
                                    <table width="100%">

                                        <tr>
                                            <td width="50%">
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label" for="idAdd" > Transaction Id:</label>
                                                    <div class="col-sm-5">
                                                        <input type="text" class="form-control col-md-5 text-gray-800" id="idAdd"  name="id" placeholder="   Id  " disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label" for="transactionDescription">Transaction Description:</label>
                                                    <div class="col-sm-6">
                                                        <textarea class="form-control" id="transactionDescription" rows="3" placeholder="Enter Transaction Description" name="description"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label" for="transactionType">Transaction Type: </label>
                                                    <div class="col-sm-6">
                                                        <select class="form-control" id="transactionType" name="transactiontypeid">
                                                            <option th:value="${null}">-SELECT-</option>
                                                            <option th:each = "transactionType: ${transactionTypes}"
                                                                    th:value = "${transactionType.id}"
                                                                    th:text = "${transactionType.description}">
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label" for="status"> Transaction Status:</label>
                                                    <div class="col-sm-6">
                                                        <select class="form-control" id="status" name="transactionstatusid">
                                                            <option th:value="${null}">-SELECT-</option>
                                                            <option th:each = "transactionStatus: ${transactionStatuses}"
                                                                    th:value = "${transactionStatus.id}"
                                                                    th:text = "${transactionStatus.details}">
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                            <td width="50%" style="padding-left:10px">
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label" for="managerAdd" >Managing Accountant:</label>
                                                    <div class="col-sm-6">
                                                        <select class="form-control" id="managerAdd" name="accountantid">
                                                            <option th:value="${null}">-SELECT-</option>
                                                            <option th:each="employee : ${employees}"
                                                                    th:value="${employee.employeeId}"
                                                                    th:text="${employee.firstname}">
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label" for="transactionDate">Transaction Date:</label>
                                                    <div class="col-sm-6">
                                                        <input type="date" class="form-control" id="transactionDate" name="transactionDate">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label" for="price">Amount:</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control" id="price" placeholder="Amount?" name="amount">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label" for="remarks">Remarks:</label>
                                                    <div class="col-sm-6">
                                                        <textarea class="form-control" id="remarks" rows="3" placeholder="Any remarks or special details pertaining the transaction?" name="remarks"></textarea>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="card-footer col-md-11">
                                        <button type="submit"  class="btn btn-success">Save</button>
                                        <a th:href="@{/accounts/transactions}"  class="btn btn-warning">Exit</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
        </div>
</div>
</body>
</html>