<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body>

<div layout:fragment="content">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">New Country Form</h1>
                    <ol class="breadcrumb ">
                        <li><i class="fa fa-home"></i><a th:href="@{/index}">Home</a></li>
                        <li><i class="fa fa-bars"></i><a th:href="@{/parameters}">Parameters Home</a></li>
                        <li><i class="fa fa-bars"></i><a th:href="@{/parameters/countries}">Countries List</a></li>
                        <li class="text-gray-800"><i class="fa fa-square-o"></i>Add New Country</li>
                    </ol>

                    <!-- DataTables Example -->
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <form class="form-horizontal" th:action="@{/parameters/countries}" method="post">
                                <div class="panel-body">
                                    <table width="100%">
                                        <tr>
                                            <td width="50%">
                                                <div class="form-group row">
                                                    <label for="txtIdAdd" class="col-sm-3 col-form-label text-gray-800">Country Id: </label>
                                                    <div class="col-sm-2">
                                                        <input type="text" class="form-control text-gray-800" id="txtIdAdd" name="id" placeholder=" Id" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="nationality" class="control-label col-sm-3"> Nationality</label>
                                                    <div class="col-sm-6">
                                                        <input name="nationality" id="nationality" placeholder='e.g. "America/American"' type="text" class=" form-control" />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="capital" class="control-label col-sm-3">Capital</label>
                                                    <div class="col-sm-6">
                                                        <input name="capital" id="capital" placeholder='e.g. "Washington DC"' class="form-control" size="16" type="text">
                                                    </div>
                                                </div>
                                            </td>
                                            <td width="50%">
                                                <div class="form-group row">
                                                    <label for="description" class="control-label col-sm-3">Description</label>
                                                    <div class="col-sm-6">
                                                        <textarea name="description" id="description" placeholder=" Any special details?"row="2" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="continent" class="control-label col-sm-3">Continent</label>
                                                    <div class="col-sm-5">
                                                        <input name="continent" id="continent" placeholder='e.g. "South America"' type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="code" class="control-label col-sm-3">Code</label>
                                                    <div class="col-sm-5">
                                                        <input name="code" id="code" placeholder='e.g. "USA" ' type="text"  class="form-control">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                        <a th:href="@{/parameters/countries}" class="btn  btn-warning">Exit</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
        </div>
</div>
</body>
</html>
